<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% include ../partials/head %>
  <% include ../partials/header %>
  <script type="text/javascript" src="/javascripts/admportal.js" async></script>
  <title>SDN-C AdminPortal</title>
<script class="init">
    $(document).ready(function() {
    $('#ncs_server_credentials').DataTable( {
        "order": [[ 0, "asc" ]]
    } );
} );
</script>

</head>
<body>

<div class="well well-sm">
<h3>NCS Server Credentials</h3>
</div>

<% if ( typeof result != 'undefined' ) {
		if (result.code.length > 0) { 
			if ( result.code == 'success' ) { %>
				<div class='alert alert-success' role='alert'>
				<%
				for ( x in result.msg ){ %>
					<div><%= result.msg[x] %></div>
				<% } %>
				</div>
			<% } else { %> 
				<div class='alert alert-danger' role='danger'>
				<%
				for ( x in result.msg ){ %>
					<div><%= result.msg[x] %></div>
				<% } %>
				</div>
			<% } %>
		<% } %>
<% } %>

<% if( typeof privilege != 'undefined'){
    var priv = privilege.privilege;
} else {
    var priv = 'A';
} %>


<div class="container-fluid">

	 <% if(priv == 'A'){ %>
        <div class="actions" style="padding:15px 0px;">
            <button class="btn btn-primary" data-toggle="modal" data-target="#add_ncs_credentials">
            Add NCS Credentials
            </button>
            </div>
    <% } %>

	<table id="ncs_server_credentials" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>*Customer Name</th>
          <th>NCS Username</th>
          <th>NCS Password</th>
		   <% if(priv == 'A'){ %>
          <th>Action</th>
          <% } %>
        </tr>
      </thead>
      <tbody>
      <% rows.forEach( function(row) { %> 
        <tr>
            <td><%= row.customer_name %></td>
            <td><%= row.ncs_username %></td>
            <td>*****</td>
			<% if(priv == 'A') { %>
            <td>
				<button type="button" class="btn btn-default btn-xs"
                onclick="updateNcsCredentials('<%= row.customer_name %>','<%= row.ncs_username %>','<%= row.ncs_password %>');">Update</button>
				<button type="button" class="btn btn-default btn-xs"
				onclick="deleteNcsCredentials('<%= row.customer_name %>');">Delete</button>
            </td>
            <% } %>

        </tr>
    <% }); %>
      </tbody>
    </table>

</div>

<% include ../partials/ncs_credentials %>
<footer>
    <% include ../partials/footer %>
</footer>

<script type="text/javascript">
function submitNcsCredentials(form)
{
    var errorMsg='';
	var customer_name = '';
	var ncs_username = '';
	var ncs_password = '';
	var confirm_ncs_password = '';

    if ( form.name == 'addForm' )
    {
		customer_name = form.nf_customer_name;
		ncs_username = form.nf_ncs_username;
		ncs_password = form.nf_ncs_password;
		confirm_ncs_password = form.nf_confirm_ncs_password;

    	if ( (customer_name.value == null) || (customer_name.value == "") || isblank(customer_name.value) )
    	{
        	errorMsg += 'Customer Name is required.<br>';
    	}
    	if( errorMsg.length > 0 ) {
        	bootbox.alert(errorMsg);
        	return;
    	}
		if ( ncs_password.value != confirm_ncs_password.value )
        {
            bootbox.alert('Passwords do not match.');
            return;
        }
    }
    else
    {
		customer_name = form.uf_customer_name;
		ncs_username = form.uf_ncs_username;
		ncs_password = form.uf_ncs_password;
		confirm_ncs_password = form.uf_confirm_ncs_password;
		if ( ncs_password.value != confirm_ncs_password.value )
        {
            bootbox.alert('Passwords do not match.');
            return;
        }
    }
    form.submit();
}

function updateNcsCredentials(customer_name,ncs_username,ncs_password) {

    document.getElementById('uf_customer_name').value=customer_name;
    document.getElementById('uf_ncs_username').value=ncs_username;
    document.getElementById('uf_ncs_password').value=ncs_password;

    $('#update_ncs_credentials').modal('show');
}

function deleteNcsCredentials(customer_name) {

    bootbox.confirm({
        message: "Are you sure you want to delete NCS Credentials [ " + customer_name + " ]",
        callback: function(result) {
            if ( result )
            {
				location.assign("/ucpe/deleteNcsCredentials?customer_name=" + customer_name); 
            }
            return;
        },
        buttons: {
            cancel: {
                label: "Cancel"
            },
            confirm: {
                label: "Yes"
            }
        }
    });
}

</script>

</body>
</html>

