<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% include ../partials/head %>
  <% include ../partials/header %>
  <script type="text/javascript" src="/javascripts/admportal.js" async></script>
  <title>SDN-C AdminPortal</title>
<script class="init">
    $(document).ready(function() {
    $('#sla').DataTable( {
        "order": [[ 0, "asc" ]]
    } );
} );
</script>

</head>
<body>

<div class="well well-sm">
<h3>Service Logic Administration</h3>
</div>

<% if ( typeof result != 'undefined' ) {
		if (result.code.length > 0) { 
			if ( result.code == 'success' ) { %>
				<div class='alert alert-success' role='alert'><%=result.msg %></div>
			<% } else { %>
				<div class='alert alert-danger' role='danger'><%=result.msg %></div>
			<% } %>
		<% } %>
<% } %>

<% if( typeof privilege != 'undefined'){
    var priv = privilege.privilege;
} else { 
    var priv = 'A';
} %>

<div class="container-fluid">
	<table id="sla" class="table table-hover table-condensed">
	<thead>
	<tr>
		<th>Module</th>
		<th>RPC</th>
		<th>Version</th>
		<th>Mode</th>
		<th>Active</th>
		<% if(priv == 'A') { %>
		<th>Activate/Deactive</th>
		<% } %>
		<th>XML code</th>
		<% if(priv=='A') { %>
		<th>Delete</th>
		<% } %>
	</tr>
	</thead>
	<tbody>
	<% var i=0; rows.forEach( function(row) { %> 
	<tr>
		<td><%= row.module %></td>
		<td><%= row.rpc %></td>
		<td><%= row.version %></td>
		<td><%= row.mode %></td>
		<td><%= row.active %></td>
		<% if ( priv == 'A' ) { 
			if (row.active == "Y") { %>
		<td><button type="button" class="btn btn-default btn-xs" onclick="toggleState('deactivate','<%= row.module %>','<%= row.rpc %>','<%= row.version %>','<%= row.mode %>');" >Deactivate</button> </td>
		<% } else { %>
		<td><button type="button" class="btn btn-default btn-xs" onclick="toggleState('activate','<%= row.module %>','<%= row.rpc %>','<%= row.version %>','<%= row.mode %>');" >Activate</button></td>
		<% } %>
		<% } %>
		<td>
			<button type="button" class="btn btn-default btn-xs"
				onclick='location.assign("/sla/printAsXml?module=<%= row.module %>&rpc=<%= row.rpc %>&version=<%= row.version %>&mode=<%= row.mode %>");'>XML code</button>
		</td>
		<% if ( priv == 'A' ) { %>
		<td>
			<button type="button" class="btn btn-default btn-xs"
				onclick="deleteGraph('<%=row.module %>',
				'<%=row.rpc %>', '<%=row.version %>','<%=row.mode %>');">Delete</button>
		</td>
		<% } %>
	</tr>
	<% i++; }); %>
	</tbody>
	</table>

	<% if(priv == 'A') { %>
	<div class="actions" style="padding:0px 25px;">
	<form method="POST" action="/sla/upload" enctype="multipart/form-data">
		<div class="form-group">
			<label for="dest">File input</label>
			<input name="filename" type="file" id="dest" />
			<input type="hidden" name="_csrf" value="<%= privilege.csrfToken %>" />
			<p class="help-block">Choose a file to upload.</p>
		</div>
		<% if ( priv == 'A' ) { %>
		<button type="button" class="btn btn-default"
			onclick="uploadFile(this.form);">Upload File</button>
		<% } else { %>
		<button type="button" class="btn btn-default disabled"
			onclick="uploadFile(this.form);">Upload File</button>
		<% } %>
	</form>
	</div>
	<% } %>

</div>



<footer>
    <% include ../partials/footer %>
</footer>

<script type="text/javascript">
function deleteGraph(_module,rpc,version,mode) {

	bootbox.confirm({
        message: "Are you sure you want to delete Directed Graph [" + _module + "][" + rpc + "][" + version + "] ?",
        callback: function(result) {
            if ( result )
            {
        		location.assign("/sla/deleteDG?module=" + _module 
					+ "&rpc=" + rpc + "&version=" + version + "&mode=" + mode );
            }
            return;
        },
        buttons: {
            cancel: {
                label: "Cancel"
            },
            confirm: {
                label: "Yes"
            }
        }
    });
}
function toggleState(laction,_module,rpc,version,mode)
{
	var myprompt = '';
	var myaction = '';
	if(laction == 'activate'){
		myprompt = "Are you sure you want to Activate Directed Graph [" + _module + "] ?";
        myaction = "/sla/activate"
			+ "?module=" + _module
			+ "&rpc=" + rpc 
			+ "&version=" + version
			+ "&mode=" + mode;
	} else {
		myprompt = "Are you sure you want to Deactivate Directed Graph [" + _module + "] ?";
		myaction = "/sla/deactivate"
			+ "?module=" + _module
			+ "&rpc=" + rpc 
			+ "&version=" + version
			+ "&mode=" + mode;
	}
		
	bootbox.confirm({
        message: myprompt,
        callback: function(result) {
            if ( result )
            {
                location.assign(myaction);
            }
            return;
        },
        buttons: {
            cancel: {
                label: "Cancel"
            },
            confirm: {
                label: "Yes"
            }
        }
    });
}
</script>
</body>
</html>

