<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% include ../partials/head %>
  <% include ../partials/header %>
  <script type="text/javascript" src="/javascripts/admportal.js" async></script>
  <title>SDN-C AdminPortal</title>
<script class="init">
    $(document).ready(function() {
    $('#alts_credentials').DataTable( {
        "order": [[ 0, "asc" ]]
    } );
} );
</script>

</head>
<body>

<div class="well well-sm">
<h3>ALTS Credentials</h3>
</div>

<% if ( typeof result != 'undefined' ) {
		if (result.code.length > 0) { 
			if ( result.code == 'success' ) { %>
				<div class='alert alert-success' role='alert'>
				<%
				for ( x in result.msg ){ %>
					<div><%= result.msg[x] %></div>
				<% } %>
				</div>
			<% } else { %> 
				<div class='alert alert-danger' role='danger'>
				<%
				for ( x in result.msg ){ %>
					<div><%= result.msg[x] %></div>
				<% } %>
				</div>
			<% } %>
		<% } %>
<% } %>

<% if( typeof privilege != 'undefined'){
    var priv = privilege.privilege;
} else {
    var priv = 'A';
} %>


<div class="container-fluid">

	 <% if(priv == 'A'){ %>
        <div class="actions" style="padding:15px 0px;">
            <button class="btn btn-primary" data-toggle="modal" data-target="#add_alts_credentials">
            Add ALTS Credentials
            </button>
            </div>
    <% } %>

	<table id="alts_credentials" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>ALTS Username</th>
          <th>ALTS Password</th>
		   <% if(priv == 'A'){ %>
          <th>Action</th>
          <% } %>
        </tr>
      </thead>
      <tbody>
      <% rows.forEach( function(row) { %> 
        <tr>
            <td><%= row.alts_username %></td>
            <td>*****</td>
			<% if(priv == 'A') { %>
            <td>
				<button type="button" class="btn btn-default btn-xs"
                onclick="updateAltsCredentials('<%=row.alts_username %>','<%= row.alts_password %>');">Update</button>
				<button type="button" class="btn btn-default btn-xs"
				onclick="deleteAltsCredentials('<%= row.alts_username %>', '<%= row.alts_password %>');">Delete</button>
            </td>
            <% } %>

        </tr>
    <% }); %>
      </tbody>
    </table>

</div>

<% include ../partials/alts_credentials %>
<footer>
    <% include ../partials/footer %>
</footer>

<script type="text/javascript">
function submitAltsCredentials(form)
{
    var errorMsg='';
	var alts_username = '';
	var alts_password = '';
	var confirm_alts_password = '';

    if ( form.name == 'addForm' )
    {
		alts_username = form.nf_alts_username;
		alts_password = form.nf_alts_password;
		confirm_alts_password = form.nf_confirm_alts_password;

		if ( alts_password.value != confirm_alts_password.value )
		{
			bootbox.alert('Passwords do not match.');
			return;
		}
    }
    else
    {
		alts_username = form.uf_alts_username;
		alts_password = form.uf_alts_password;
		confirm_alts_password = form.uf_confirm_alts_password;

		if ( alts_password.value != confirm_alts_password.value )
		{
			bootbox.alert('Passwords do not match.');
			return;
		}
    }
    form.submit();
}

function updateAltsCredentials(alts_username,alts_password) {

    document.getElementById('uf_alts_username').value=alts_username;
    document.getElementById('uf_alts_password').value=alts_password;

    $('#update_alts_credentials').modal('show');
}

function deleteAltsCredentials(alts_username, alts_password) {

	var url_string = encodeURI("/ucpe/deleteAltsCredentials?alts_username=" + alts_username 
					+ "&alts_password=" + alts_password);


    bootbox.confirm({
        message: "Are you sure you want to delete ALTS Credentials? " + alts_username,
        callback: function(result) {
            if ( result )
            {
				location.assign(url_string);
            }
            return;
        },
        buttons: {
            cancel: {
                label: "Cancel"
            },
            confirm: {
                label: "Yes"
            }
        }
    });
}

</script>

</body>
</html>

