<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% include ../partials/head %>
  <% include ../partials/header %>
  <script type="text/javascript" src="/javascripts/admportal.js" async></script>
  <title>SDN-C AdminPortal</title>
<script class="init">
    $(document).ready(function() {
    $('#phs_server_credentials').DataTable( {
        "order": [[ 0, "asc" ]]
    } );
} );
</script>

</head>
<body>

<div class="well well-sm">
<h3>PHS Server Credentials</h3>
</div>

<% if ( typeof result != 'undefined' ) {
		if (result.code.length > 0) { 
			if ( result.code == 'success' ) { %>
				<div class='alert alert-success' role='alert'>
				<%
				for ( x in result.msg ){ %>
					<div><%= result.msg[x] %></div>
				<% } %>
				</div>
			<% } else { %> 
				<div class='alert alert-danger' role='danger'>
				<%
				for ( x in result.msg ){ %>
					<div><%= result.msg[x] %></div>
				<% } %>
				</div>
			<% } %>
		<% } %>
<% } %>

<% if( typeof privilege != 'undefined'){
    var priv = privilege.privilege;
} else {
    var priv = 'A';
} %>


<div class="container-fluid">

	 <% if(priv == 'A'){ %>
        <div class="actions" style="padding:15px 0px;">
            <button class="btn btn-primary" data-toggle="modal" data-target="#add_phs_credentials">
            Add PHS Credentials
            </button>
            </div>
    <% } %>

	<table id="phs_server_credentials" class="table table-hover table-condensed">
      <thead>
        <tr>
		  <th>*Device Vendor Name</th>
          <th>*Customer Name</th>
		  <th>*IP Addresses</th>
          <th>PHS Username</th>
          <th>PHS Password</th>
		   <% if(priv == 'A'){ %>
          <th>Action</th>
          <% } %>
        </tr>
      </thead>
      <tbody>
      <% rows.forEach( function(row) { %> 
        <tr>
            <td><%= row.device_vendor_name %></td>
            <td><%= row.customer_name %></td>
            <td><%= row.ip_addresses %></td>
            <td><%= row.phs_username %></td>
            <td>*****</td>
			<% if(priv == 'A') { %>
            <td>
				<button type="button" class="btn btn-default btn-xs"
                onclick="updatePhsCredentials('<%=row.device_vendor_name %>','<%= row.customer_name %>','<%= row.ip_addresses %>','<%= row.phs_username %>','<%= row.phs_password %>');">Update</button>
				<button type="button" class="btn btn-default btn-xs"
				onclick="deletePhsCredentials('<%= row.device_vendor_name %>', '<%= row.customer_name %>', '<%= row.ip_addresses %>' );">Delete</button>
            </td>
            <% } %>

        </tr>
    <% }); %>
      </tbody>
    </table>

</div>

<% include ../partials/phs_credentials %>
<footer>
    <% include ../partials/footer %>
</footer>

<script type="text/javascript">
function submitPhsCredentials(form)
{
    var errorMsg='';
    var device_vendor_name = '';
	var customer_name = '';
	var ip_addresses = '';
	var phs_username = '';
	var phs_password = '';
	var confirm_phs_password = '';

    if ( form.name == 'addForm' )
    {
		device_vendor_name = form.nf_device_vendor_name;
		customer_name = form.nf_customer_name;
		ip_addresses = form.nf_ip_addresses;
		phs_username = form.nf_phs_username;
		phs_password = form.nf_phs_password;
		confirm_phs_password = form.nf_confirm_phs_password;

    	if ( (device_vendor_name.value == null) || (device_vendor_name.value == "") || isblank(device_vendor_name.value) )
    	{
        	errorMsg += 'Device Vendor Name is required.<br>';
    	}
    	if ( (customer_name.value == null) || (customer_name.value == "") || isblank(customer_name.value) )
    	{
        	errorMsg += 'Customer Name is required.<br>';
    	}
    	if ( (ip_addresses.value == null) || (ip_addresses.value == "") || isblank(ip_addresses.value) ){
        	errorMsg += 'IP Addresses is required.<br>';
    	}
    	if( errorMsg.length > 0 ) {
        	bootbox.alert(errorMsg);
        	return;
    	}

		if ( phs_password.value != confirm_phs_password.value )
		{
			bootbox.alert('Passwords do not match.');
			return;
		}
    }
    else
    {
		device_vendor_name = form.uf_device_vendor_name;
		customer_name = form.uf_customer_name;
		ip_addresses = form.uf_ip_addresses;
		phs_username = form.uf_phs_username;
		phs_password = form.uf_phs_password;
		confirm_phs_password = form.uf_confirm_phs_password;

		if ( phs_password.value != confirm_phs_password.value )
		{
			bootbox.alert('Passwords do not match.');
			return;
		}
    }
    form.submit();
}

function updatePhsCredentials(device_vendor_name,customer_name,ip_addresses,phs_username,phs_password) {

    document.getElementById('uf_device_vendor_name').value=device_vendor_name;
    document.getElementById('uf_customer_name').value=customer_name;
    document.getElementById('uf_ip_addresses').value=ip_addresses;
    document.getElementById('uf_phs_username').value=phs_username;
    document.getElementById('uf_phs_password').value=phs_password;

    $('#update_phs_credentials').modal('show');
}

function deletePhsCredentials(device_vendor_name, customer_name, ip_addresses) {

    bootbox.confirm({
        message: "Are you sure you want to delete PHS Credentials " + device_vendor_name + "|" + customer_name + "|" + ip_addresses,
        callback: function(result) {
            if ( result )
            {
				location.assign("/ucpe/deletePhsCredentials?device_vendor_name=" + device_vendor_name 
					+ "&customer_name=" + customer_name + "&ip_addresses=" + ip_addresses);
            }
            return;
        },
        buttons: {
            cancel: {
                label: "Cancel"
            },
            confirm: {
                label: "Yes"
            }
        }
    });
}

</script>

</body>
</html>

