<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% include ../partials/head %>
  <% include ../partials/header %>
  <script type="text/javascript" src="/javascripts/admportal.js" async></script>
  <title>SDN-C AdminPortal</title>
<script class="init">
    $(document).ready(function() {
    $('#service_manager_credentials').DataTable( {
        "order": [[ 0, "asc" ]]
    } );
} );
</script>

</head>
<body>

<div class="well well-sm">
<h3>Service Manager Credentials</h3>
</div>

<% if ( typeof result != 'undefined' ) {
		if (result.code.length > 0) { 
			if ( result.code == 'success' ) { %>
				<div class='alert alert-success' role='alert'>
				<%
				for ( x in result.msg ){ %>
					<div><%= result.msg[x] %></div>
				<% } %>
				</div>
			<% } else { %> 
				<div class='alert alert-danger' role='danger'>
				<%
				for ( x in result.msg ){ %>
					<div><%= result.msg[x] %></div>
				<% } %>
				</div>
			<% } %>
		<% } %>
<% } %>

<% if( typeof privilege != 'undefined'){
    var priv = privilege.privilege;
} else {
    var priv = 'A';
} %>


<div class="container-fluid">

	 <% if(priv == 'A'){ %>
        <div class="actions" style="padding:15px 0px;">
            <button class="btn btn-primary" data-toggle="modal" data-target="#add_service_manager_credentials">
            Add Service Manager Credentials
            </button>
            </div>
    <% } %>

	<table id="service_manager_credentials" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Service Manager Username</th>
          <th>Service Manager Password</th>
		   <% if(priv == 'A'){ %>
          <th>Action</th>
          <% } %>
        </tr>
      </thead>
      <tbody>
      <% rows.forEach( function(row) { %> 
        <tr>
            <td><%= row.service_manager_username %></td>
            <td>*****</td>
			<% if(priv == 'A') { %>
            <td>
				<button type="button" class="btn btn-default btn-xs"
                onclick="updateServiceManagerCredentials('<%=row.service_manager_username %>','<%= row.service_manager_password %>');">Update</button>
				<button type="button" class="btn btn-default btn-xs"
				onclick="deleteServiceManagerCredentials('<%= row.service_manager_username %>', '<%= row.service_manager_password %>');">Delete</button>
            </td>
            <% } %>

        </tr>
    <% }); %>
      </tbody>
    </table>

</div>

<% include ../partials/service_manager_credentials %>
<footer>
    <% include ../partials/footer %>
</footer>

<script type="text/javascript">
function submitServiceManagerCredentials(form)
{
    var errorMsg='';
	var service_manager_username = '';
	var service_manager_password = '';
	var confirm_service_manager_password = '';

    if ( form.name == 'addForm' )
    {
		service_manager_username = form.nf_service_manager_username;
		service_manager_password = form.nf_service_manager_password;
		confirm_service_manager_password = form.nf_confirm_service_manager_password;

		if ( service_manager_password.value != confirm_service_manager_password.value )
		{
			bootbox.alert('Passwords do not match.');
			return;
		}
    }
    else
    {
		service_manager_username = form.uf_service_manager_username;
		service_manager_password = form.uf_service_manager_password;
		confirm_service_manager_password = form.uf_confirm_service_manager_password;

		if ( service_manager_password.value != confirm_service_manager_password.value )
		{
			bootbox.alert('Passwords do not match.');
			return;
		}
    }
    form.submit();
}

function updateServiceManagerCredentials(service_manager_username,service_manager_password) {

    document.getElementById('uf_service_manager_username').value=service_manager_username;
    document.getElementById('uf_service_manager_password').value=service_manager_password;

    $('#update_service_manager_credentials').modal('show');
}

function deleteServiceManagerCredentials(service_manager_username, service_manager_password) {

	var url_string = encodeURI("/ucpe/deleteServiceManagerCredentials?service_manager_username=" + service_manager_username 
					+ "&service_manager_password=" + service_manager_password);


    bootbox.confirm({
        message: "Are you sure you want to delete Service Manager Credentials? " + service_manager_username,
        callback: function(result) {
            if ( result )
            {
				location.assign(url_string);
            }
            return;
        },
        buttons: {
            cancel: {
                label: "Cancel"
            },
            confirm: {
                label: "Yes"
            }
        }
    });
}

</script>

</body>
</html>

