<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% include ../partials/head %>
  <% include ../partials/header %>
  <script type="text/javascript" src="/javascripts/admportal.js" async></script>
  <title>SDN-C AdminPortal</title>
<script class="init">
    $(document).ready(function() {
    $('#service_port').DataTable( {
        "order": [[ 0, "asc" ]]
    } );
} );
</script>

</head>
<body>

<div class="well well-sm">
<h3>uCPE Service Port</h3>
</div>

<% if ( typeof result != 'undefined' ) {
        if (result.code.length > 0) {
            if ( result.code == 'success' ) { %>
                <div class='alert alert-success' role='alert'>
                <%
                for ( x in result.msg ){ %>
                    <div><%= result.msg[x] %></div>
                <% } %>
                </div>
            <% } else { %>
                <div class='alert alert-danger' role='danger'>
                <%
                for ( x in result.msg ){ %>
                    <div><%= result.msg[x] %></div>
                <% } %>
                </div>
            <% } %>
        <% } %>
<% } %>

<% if( typeof privilege != 'undefined'){
    var priv = privilege.privilege;
} else {
    var priv = 'A';
} %>


<div class="container-fluid">

	<table id="service_port" class="table table-hover table-condensed">
    <thead>
        <tr>
		  <th>*DEVICE_VENDOR_NAME</th>
		  <th>*DEVICE_MODEL</th>
		  <th>*SERVICE_PORT_NAME</th>
		  <th>PHYSICAL_PORT_NAME</th>
		  <th>PHYSICAL_SPEED</th>
		  <th>PHYSICAL_SPEED_UNITS</th>
        </tr>
    </thead>
	<tbody>
    <% rows.forEach( function(row) { %>
        <tr>
            <td><%= row.device_vendor_name %></td>
            <td><%= row.device_model %></td>
            <td><%= row.service_port_name %></td>
            <td><%= row.physical_port_name %></td>
            <td><%= row.physical_speed %></td>
            <td><%= row.physical_speed_units %></td>
        </tr>
    <% }); %>
    </tbody>
    </table>

</div>

<footer>
    <% include ../partials/footer %>
</footer>


</body>
</html>

