<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% include ../partials/head %>
  <% include ../partials/header %>
  <script type="text/javascript" src="/javascripts/admportal.js" async></script>
  <title>SDN-C AdminPortal</title>
<script class="init">
    $(document).ready(function() {
    $('#vnf_nm_interfaces').DataTable( {
        "order": [[ 0, "asc" ]]
    } );
} );
</script>

</head>
<body>

<div class="well well-sm">
<h3>uCPE VNF NM Interfaces</h3>
</div>

<% if ( typeof result != 'undefined' ) {
        if (result.code.length > 0) {
            if ( result.code == 'success' ) { %>
                <div class='alert alert-success' role='alert'>
                <%
                for ( x in result.msg ){ %>
                    <div><%= result.msg[x] %></div>
                <% } %>
                </div>
            <% } else { %>
                <div class='alert alert-danger' role='danger'>
                <%
                for ( x in result.msg ){ %>
                    <div><%= result.msg[x] %></div>
                <% } %>
                </div>
            <% } %>
        <% } %>
<% } %>

<% if( typeof privilege != 'undefined'){
    var priv = privilege.privilege;
} else {
    var priv = 'A';
} %>


<div class="container-fluid">

<!--
	 <% if (priv == 'A'){ %>
    <div class="actions" style="padding:15px 0px;">
    <button class="btn btn-primary" data-toggle="modal" data-target="#add_vnf_profile">
      Add VNF Profile
    </button>
    </div>
    <% } %>
-->

	<table id="vnf_nm_interfaces" class="table table-hover table-condensed">
    <thead>
        <tr>
		  <th>*DEVICE_VENDOR_NAME</th>
		  <th>*DEVICE_MODEL</th>
		  <th>*VNF_VENDOR_NAME</th>
		  <th>*VNF_MODEL</th>
		  <th>NM_LAN_INTERFACE</th>
		  <th>NM_LOOPBACK_INTERFACE</th>
        </tr>
    </thead>
	<tbody>
    <% rows.forEach( function(row) { %>
        <tr>
            <td><%= row.device_vendor_name %></td>
            <td><%= row.device_model %></td>
            <td><%= row.vnf_vendor_name %></td>
            <td><%= row.vnf_model %></td>
            <td><%= row.nm_lan_interface %></td>
            <td><%= row.nm_loopback_interface %></td>
        </tr>
    <% }); %>
    </tbody>
    </table>

</div>

<footer>
    <% include ../partials/footer %>
</footer>


</body>
</html>

